html,
body {
  margin: 0;
 background: #ECE5F0;
}

#App {
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
}
h1{
  font-family: 'Roboto', sans-serif;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #B5BAD0;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.Name_User{
  font-weight: bold;
  font-size: 20pt;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15%;
}
.detail{
  margin-top: -15%;
}
.box{
  width: 150px;
  height: 150px;            
  position: absolute;
  
  
}
.Yes{
  top: 45%;
  left: 65%;  /* for demo purpose  */
}
.No{
  top: 45%;
  left: 22%;/* for demo purpose  */
}
.stack-top{
  z-index: 9;
  margin: 20px; /* for demo purpose  */
}
.UploadPreview{
  width: 150px;
  height: 150px;
  margin-left: 0%;
  margin-top:5%;
}
.inputsource{
  margin-left: 20%;
}
.userCreate{
  width: 600px;
  height: 960px;
  margin-left:29%;
  border-radius: 10px;
  border: 2px solid #888888;
  background: white;
  box-shadow: 3px 3px 3px 3px #888888;
  
  
}

.loginBox{
  width: 500px;
  height: 460px;
  margin-left:33%;
  margin-top: 5%;
  border-radius: 10px;
  border: 2px solid #888888;
  background: white;
  box-shadow: 3px 3px 3px 3px #888888;
  
  
}

.Labelname{
  display: block;
  text-align: left;
  margin-left:10px;
  font-weight: bold;
}
.barInput{
  width: 580px;
  margin-left:10px;
}
#userName {
  width: 480px;
  margin-left:10px;
}
#userLabel{
  margin-top: 8%;
}
#login_button{
  margin-top: 10%;
}
#passWord {
  width: 480px;
  margin-left:10px;
}
.custom-file{
  width: 400px;
}
#Age {
  width:80px;
}
#Sex{
  width:80px;
}
#logo_box{
  margin-top: 7%;
}
#MessageList{
  background:  white;
  width: 990px;
  height: 460px;
  overflow-y: scroll;
  margin-left: 5.5%; 
  border-radius: 0px;
  border: lightgrey;
  border-width: 2px;
  border-style: solid;
  
}
#Message_Info{
  background:  white;
  width: 990px;
  height: 30px;
  overflow-y: scroll;
  margin-left: 5.5%; 
  border: black;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}
span{
  font-weight: bold;
  margin-left: 3%;
}
#text_entryinput{
  margin-top: .1%;
  margin-left: 5.4%;
  width: 890px;
}
#sendbbtn{
  width: 100px;
  height: 28px;
  font-size: 12px;
  margin-left: 85.5%;
  margin-top:-2.6%;
}
ul{
  list-style-type: none;
}
.otherUser{
  background: blue;
  margin-bottom: 2%;
  color: white;
  border-radius: 10px;
  margin-right: 100%;
  min-width: 100px;
}
.youUser{
  background: lightgrey;
  margin-bottom: 2%;
  border-radius: 10px;
  margin-left: 85%;
  min-width: 100px;
}
.userPic{
  width: 30px;
}